

<div class="container py-5">
  <div class="table-main">
      <div class="heading d-flex mb-3 gap-5">
          <h3 class="title mb-0">Your todo list</h3>
          <div class="add-task d-flex gap-2 align-items-center">
              <input type="text" #input (keyup.enter)="addTodo(input.value);input.value='';" placeholder="Add task">
              <button type="button" class="btn btn-primary" (click)="addTodo(input.value);input.value='';">Add</button>
          </div>
      </div>
      <div class="filter">
          <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary" (click)="store.updateFilter('all')">All</button>
              <button type="button" class="btn btn-primary" (click)="store.updateFilter('pending')">Pending</button>
              <button type="button" class="btn btn-primary" (click)="store.updateFilter('completed')">Completed</button>
            </div>
      </div>
      <div class="todo-list pt-3">
          @for (todo of store.filteredTodos(); track todo.id) {
              <div class="list d-flex justify-content-between p-2">
                  <div class="checkbox"><input [(ngModel)]="todo.completed" (change)="store.updateTodo(todo.id,todo.completed)" type="checkbox"></div>
                  <div class="task" [class.completed]="todo.completed">{{ todo.title }}</div>
                  <div class="delete" (click)="store.deleteTodo(todo.id)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                  </div>
              </div>
          }
      </div>
    
  </div>

  
  
</div>

